@supports (font: -apple-system-body) {
  :root {
    font: -apple-system-body;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Garamond Regular.woff2') format('woff2'), url('/fonts/Garamond Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Garamond';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Garamond Bold.woff2') format('woff2'), url('/fonts/Garamond Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Garamond';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Garamond Regular Italic.woff') format('woff');
  src: url('/fonts/Garamond Regular Italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Garamond';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Garamond Bold Italic.woff') format('woff');
  src: url('/fonts/Garamond Bold Italic.woff2') format('woff2');
}

a {
  color: #000;
  font-weight: 700;
}

a:visited {
  color: #888;
}

.no-kerning {
  font-kerning: none;
}

body,
html {
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  height: 100vh;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility !important;
}

body.noscroll {
  overflow: hidden;
}

button {
  color: #967100;
  background: #fff;
  border: 1px solid #967100;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Garamond';
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 2rem;

  transition: 0.3s;
}

button:hover {
  color: #fff;
  background: #967100;
}

header,
footer {
  background: #967100;
  color: #fff;
  flex: 0;
  padding: 0.5rem;
  text-align: center;
}

main {
  padding-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.w-1 {
  flex: 1;
}

input {
  background: rgba(150, 113, 0, 0.05);
  padding: 0.5rem;
}

input,
.contribute-form .composite-input {
  outline: none;
  border: 1px solid #967100;
  border-radius: 2px;
  color: #967100;
  font-family: 'Garamond';
  font-size: 1rem;
}

.contribute-modal {
  text-align: center;
}

.composite-input .label {
  padding: 0.5rem;
  border-right: 1px solid rgba(150, 113, 0, 0.5);
}

.composite-input input {
  border: none;
  border-radius: 0;
}

input::placeholder {
  font-weight: 400;
  color: rgba(150, 113, 0, 0.5);
}

.mt-h,
.my-h,
.m-h {
  margin-top: 0.5rem;
}

.mr-h,
.mx-h,
.m-h {
  margin-right: 0.5rem;
}

.mb-h,
.my-h,
.m-h {
  margin-bottom: 0.5rem;
}

.ml-h,
.mx-h,
.m-h {
  margin-left: 0.5rem;
}

.mt-1,
.my-1,
.m-1 {
  margin-top: 1rem;
}

.mr-1,
.mx-1,
.m-1 {
  margin-right: 1rem;
}

.mb-1,
.my-1,
.m-1 {
  margin-bottom: 1rem;
}

.ml-1,
.mx-1,
.m-1 {
  margin-left: 1rem;
}

#leaderboard .badge {
  border-radius: 4rem;
  height: 8rem;
  margin-bottom: 0.75rem;
  object-fit: cover;
  width: 8rem;
  transition: 0.2s;
}

#leaderboard .gallery-item:hover .badge,
#leaderboard .gallery-item.active .badge {
  box-shadow: 0 0 15px #967100;
}

#leaderboard .name {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 400;
}

.leaderboard-modal {
  max-width: 40rem;
  padding: 2rem;
  text-align: center;
}

.modal-badge {
  width: 20rem;
  height: 20rem;
}

.leaderboard-modal .name {
  font-size: 1.5rem;
}

.leaderboard-modal .contribution {
  font-size: 1rem;
  font-style: italic;
}

.align-center {
  align-items: center;
}

.bf,
.gallery-item .name {
  font-weight: 700;
}

.center {
  text-align: center;
}

.content-container {
  margin: 3rem auto;
  font-size: 1.1rem;
  max-width: 40rem;
  padding: 0 1rem;
  text-align: justify;
}

.content-container > h2:first-child {
  margin-top: 0;
}

.content-container > p:last-child {
  margin-block-end: 0;
}

.contribute-container {
  border: 1px solid #967100;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.contribute-form {
  display: flex;
}

.contribute-form input {
  max-width: 5rem;
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.gallery {
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 40rem;
  text-align: center;

  transition: 0.2s;
}

.gallery-item {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  margin: 0.5rem;
}

.gallery-item .tagline {
  font-size: 0.9rem;
}

.gallery-item.interactive .headshot {
  filter: grayscale(80%);
  transition: 0.3s;
}

.gallery-item.interactive:hover .headshot {
  filter: grayscale(20%);
}

#leaderboard .gallery {
  min-height: 22rem;
}

.headshot {
  border-radius: 4.5rem;
  height: 9rem;
  margin-bottom: 0.75rem;
  object-fit: cover;
  width: 9rem;
  filter: grayscale(20%);
}

.interactive {
  cursor: pointer;
}

.justify-center {
  justify-content: center;
}

.modal-overlay {
  align-items: center;
  background: rgba(75, 60, 0, 0.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.2s ease-out;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-overlay:not(.open) {
  pointer-events: none;
}

.modal {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #967100;
  box-shadow: 0 13px 27px -5px rgba(75, 60, 0, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  max-height: 80vh;
  max-width: 40rem;
  overflow: auto;
  padding: 3rem;
  position: relative;
}

.modal-container {
  position: relative;
}

.uniswap-modal .modal {
  border: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.title-container {
  background: #967100;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.donate-divider {
  color: rgba(150, 113, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.donate-divider-line {
  margin: 0.5rem;
  flex: 1;
  height: 1px;
  background: rgba(150, 113, 0, 0.3);
}

.back-button {
  z-index: 9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.back-button svg {
  height: 60%;
  width: 60%;
}

.back-button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.uniswap-modal .iframe-container {
  width: 80vw;
  max-width: 40rem;
  min-width: 20rem;
  height: 80vh;
  min-height: 40rem;
  margin: -3rem;
}

.coinbase-commerce-modal .iframe-container {
  width: 80vw;
  max-width: 600px; /* hardcoded in Coinbase Commerce iframe */
  min-width: 20rem;
  height: 80vh;
  min-height: 40rem;
  margin: -3rem;
}

.coinbase-commerce-modal .back-button {
  display: none;
}

@media (max-width: 38rem), (max-height: 38rem) {
  .modal-gallery {
    display: none;
  }

  .modal {
    padding: 2rem;
  }

  .uniswap-modal .iframe-container {
    margin: -2rem;
  }

  .coinbase-commerce-modal .modal {
    padding: 0;
    border-radius: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }

  .coinbase-commerce-modal .iframe-container {
    margin: 0;
  }
}

.project-description {
  text-align: justify;
}

.medal-form {
  display: flex;
  padding-top: 1rem;
}

.searching {
  opacity: 50%;
}

.copylink-section {
  display: inline-flex;
  margin: 0.5rem;
}

.copylink-section input {
  font-family: monospace;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.copylink-section button {
  padding: 0 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  position: relative;
}

.copylink-section button img {
  margin: auto auto;
}

.clicked::before {
  content: 'Copied!';
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  bottom: 100%;
  margin-bottom: 15px;

  padding: 0.5rem;
  border-radius: 4px;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.clicked::after {
  content: '';
  position: absolute;

  bottom: 100%;
  margin-bottom: 0;

  left: 50%;
  transform: translateX(-50%);

  /* the arrow */
  border: 10px solid #000;
  border-color: black transparent transparent transparent;
}

.copylink-section button:hover {
  background: rgba(150, 113, 0, 0.1);
}
